body {
    color:whithe;
    background: black;
    margin: 0px;
    font-family: arial;
    margin-bottom : 100px;
  }
  
  header {
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size: 32px;
    color: pink;
  }
  
  .Chamada {
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
.chamada-texto {
    margin-right: 5%;
  }
.categoria-videos{


}


  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
}
